<!-- Ask expert page
  ================================
  =================================-->
<div class="mid-background padding-bottom expert-page">
  <div class="container">
      
  <%= render 'partials/idea_header', :idea => @idea %>

              



<!-- Ask expert page
  ================================
  =================================-->
<div id="dashboard" class="shadow-box unselect">

<!-- ============== Introduction ============= -->
  <div class="row-fluid introduction-box">
    
    <div class="span8">
    <div class="pull-left intro-box">
      <h1>Something went wrong</h1><%= render "partials/back_button" %> 
      <p class="intro">Please check that you didn't alter the url manually. Our admin has been notified </p>
    </div><!-- /pull-left-->    
    </div><!-- /span-->

    
    
  </div><!-- and row-fluid introduction-box-->
  <!-- ============== and Introduction ============= -->



</div><!--/dashboard-->




  </div><!--/container-->
</div><!--/mid-background-->



