<div class="form-box form-sett edit-team">      
                <div class="span3">
                	<div class="image-box-img">
		              <div class="forum-user">
                        <%= image_tag member.image? %>
  			          </div>
		              <div class="name">
		                 <p><%= member.name %></p>
                         <em><%#= member.idea_role?(idea) %></em>
		              </div>         
		            </div>
                </div><!--/span-->
                <div class="span6">
                  <div class="span11">
                    Creator of Idea
                  </div>
                </div><!--/span-->          
              </div><!-- /form-box-->