<!-- 2.1.1 ASK EXPERT PAGE
	========================== -->
<div class="row-fluid m-20-top">
	<div class="offset2 span8">
		<h5 class="text-grey">NOTE: 'Ask Expert' requests are kept private to the team working on the idea.</h5>
		<div class="shadow-box">

	          <!-- STAGE ROW 
	          ======================-->
	          <div class="stage-row">
	          	<div class="forum-header">
	          		<div class="pull-left stage-left">
	          			<div class="img-header">
	          				<img alt="5" src="http://s3.amazonaws.com/getviable-dev/ideas/photos/000/000/024/square/5.jpg?1365579109">
	          			</div><!--/img-header-->
	          			<div class="stage-box green-bg"></div>
	          		</div><!--/stage-left-->
	          		<div class="header-text-box">
	          			<h3>Idea Name</h3>
	          			<div class="header-path">
	          				<p> has Asked Experts about <b>Insert Field from Ask Experts form</b></p>
	          			</div><!--  / header-path-->
	          		</div><!--  /header-text-box-->

	          	</div><!-- /forum-header-->
	         <div class="forum-body">

                
	          		<div id="comment" class="row-fluid"><!-- comment -->
	          			
	          		

	          			<div class="forum-user">
	          				<img alt="Picture?type=square" src="http://graph.facebook.com/100004363631863/picture?type=square">
	          			</div><!-- /forum-user-->
	          			<div class="comments-replay">
	          				<p><a href="/profiles/6-tratincica-virag">Tratincica Virag</a> <!--Zizzam can now access:--><br>
	          					Hi I would like some advice on whether my idea is any good. I'm specifically interested in whether I have competitive differentiation. Look at who I have identified below<a href="">... expand</a>
	          				</p>
	          				<p class="info">2013-04-10 08:33:34 UTC</p>
	          			</div><!-- /comments-replay -->
	          		</div><!-- /row-fluid (comment) -->
	          		<div class="row-fluid">
	          			<div id="replay">
	          				<div class="row-fluid">
	          					<div class="comment-info">
	          						<ul>
	          							<li>
	          								<i class="icon-comment"></i>
	          								<a href="">View earlier comments</a>  
	          							</li> 
	          						</ul>
	          					</div>
	          				</div><!--/row-fluid-->
	          				            
	          				            
	          				            
	          	<div class="row-fluid">
	                <div class="forum-user">
	                  <img alt="Picture?type=square" src="http://graph.facebook.com/100004363631863/picture?type=square">
	                </div><!-- /forum-user-->
	                <div class="comments-replay">
	                    <p><a href="/profiles/6-tratincica-virag">Tratincica Virag</a> <!--Zizzam can now access:--><br>
	                      I post comment
	                    </p>
	                    <p class="info">2013-04-10 08:52:22 UTC</p>
	                </div><!-- /comments-replay -->
	            </div>
	          			</div><!-- /replay-->
	          		</div><!-- /row-fluid-->



                	<div class="row-fluid">
		          		<div id="post-answer">
			          		<div><!-- replay -->      
			          			
                  <form>
			          <textarea id="comment" placeholder="Type message..."></textarea>
			        <input class="btn btn-success" name="commit" type="submit" value="Submit">
			     </form>
			          		</div><!-- /span (replay) -->
			          	</div><!-- /id post-answer-->
		          	</div><!-- /row-fluid-->


	          </div><!-- /forum-body-->
	        </div><!-- /stage-row-->

	      </div>
	</div><!--/offset-->
</div><!--/row-fluid-->


<!-- 2.1.0 IDEA COMMENTS PAGE
	========================== -->
<div class="row-fluid m-20-top">
	<div class="offset2 span8">
		<div class="shadow-box">

	          <!-- STAGE ROW 
	          ======================-->
	          <div class="stage-row">
	          	<div class="forum-header">
	          		<div class="pull-left stage-left">
	          			<div class="img-header">
	          				<img alt="5" src="http://s3.amazonaws.com/getviable-dev/ideas/photos/000/000/024/square/5.jpg?1365579109">
	          			</div><!--/img-header-->
	          			<div class="stage-box green-bg"></div>
	          		</div><!--/stage-left-->
	          		<div class="header-text-box">
	          			<h3>Last idea</h3>
	          			<div class="header-path">
	          				<p> has updated <a href="">Idea Scope</a>  in <b>Clarify idea</b></p>
	          			</div><!--  / header-path-->
	          		</div><!--  /header-text-box-->

	          	</div><!-- /forum-header-->
	         <div class="forum-body">

                
	          		<div id="comment" class="row-fluid"><!-- comment -->
	          			
	          					<div class="comment-info">
	          						<ul>
	          							<li>
	          								<i class="icon-arrow-left"></i>
	          								<a href="">View earlier comments</a>  
	          							</li> 
	          						</ul>
	          					</div>

	          			<div class="forum-user">
	          				<img alt="Picture?type=square" src="http://graph.facebook.com/100004363631863/picture?type=square">
	          			</div><!-- /forum-user-->
	          			<div class="comments-replay">
	          				<p><a href=""></a><a href="/profiles/6-tratincica-virag">Tratincica Virag</a> <!--Zizzam can now access:--><br>
	          					<b>What constraints do you have to building your business?</b> - Technical Skills<br><b>Describe your idea in detail.</b> - Some description<br><b>What does it do for your customer?</b> - Everything <a href="">... expand</a>
	          				</p>
	          				<p class="info">2013-04-10 08:33:34 UTC</p>
	          			</div><!-- /comments-replay -->
	          		</div><!-- /row-fluid (comment) -->
	          		<div class="row-fluid">
	          			<div id="replay">
	          				<div class="row-fluid">
	          					<div class="comment-info">
	          						<ul>
	          							<li>
	          								<i class="icon-comment"></i>
	          								<a href="">View earlier comments</a>  
	          							</li> 
	          						</ul>
	          					</div>
	          				</div><!--/row-fluid-->
	          				            
	          				            
	          				            
	          	<div class="row-fluid">
	                <div class="forum-user">
	                  <img alt="Picture?type=square" src="http://graph.facebook.com/100004363631863/picture?type=square">
	                </div><!-- /forum-user-->
	                <div class="comments-replay">
	                    <p><a href="/profiles/6-tratincica-virag">Tratincica Virag</a> <!--Zizzam can now access:--><br>
	                      I post comment
	                    </p>
	                    <p class="info">2013-04-10 08:52:22 UTC</p>
	                </div><!-- /comments-replay -->
	            </div>
	          			</div><!-- /replay-->
	          		</div><!-- /row-fluid-->



                	<div class="row-fluid">
		          		<div id="post-answer">
			          		<div><!-- replay -->      
			          			
                  <form>
			          <textarea id="comment" placeholder="Type message..."></textarea>
			        <input class="btn btn-success" name="commit" type="submit" value="Submit">
			     </form>
			          		</div><!-- /span (replay) -->
			          	</div><!-- /id post-answer-->
		          	</div><!-- /row-fluid-->


	          </div><!-- /forum-body-->
	        </div><!-- /stage-row-->

	      </div>
	</div><!--/offset-->
</div><!--/row-fluid-->

<!-- LIKES PAGE
	========================== -->


<div class="row-fluid expert-header">
    <div class="company-name">
        <div class="company-image">
          <img alt="2" src="/assets/no-logo.png">
        </div><!--/company-image-->
        <div class="name">
            <a href="/ideas/slider-slika">Idea name</a>
			<span class="text-grey">> Likes <span class="blue-col">24</span></span> 	
        </div><!--/name-->
    </div>  <!--/company-name-->        
</div><!--/row-fluid expert-header-->

<div class="row-fluid">
	<div class="offset2 span8">
		<div class="shadow-box idea-likes">
			<ul>
				<li>
					<div class="row-fluid  padd-10">
						<div class="profile-info-box">
				          <div class="default-profile">
				            <img alt="Picture?type=square" src="http://graph.facebook.com/100004363631863/picture?type=square">
				          </div><!-- /default-profile-->

				          <div class="profile-info-text">
				          <h3 class="p-name"><a href="">Likers Name</a></h3>
				          <em>United Kingdom</em>
				          <p class="profile-basic-info text-grey">Passionate about Ideas and Startups - experienced in mentorship</p>				          
				          </div><!--/profile-info-text-->

				          <div class="row-fluid latest-ideas">
				          	<h6 class="text-grey">Latest Ideas:</h6>
				          	<ul>
				          		<li><div class="company-image">
					                <a href="" rel="tooltip" data-placement="right" data-original-title="Idea name"><img alt="" class="image" src="/assets/no-logo.png"></a>               
					              	</div>
					            </li>
					            <!-- display max 8 items-->			            

				          	</ul>
				          </div><!--/latest-ideas-->

        				</div><!--/profile info-box-->
						<div class="pull-right center">
							<a class="btn btn-small btn-info">CONNECT</a>
						</div>
					</div><!--/row-fluid-->
				</li>

				<li>
					<div class="row-fluid  padd-10">
						<div class="profile-info-box">
				          <div class="default-profile">
				            <img alt="Picture?type=square" src="http://graph.facebook.com/100004363631863/picture?type=square">
				          </div><!-- /default-profile-->

				          <div class="profile-info-text">
				          <h3 class="p-name"><a href="">Likers Name</a></h3>
				          <em>United Kingdom</em>
				          <p class="profile-basic-info text-grey">Passionate about Ideas and Startups - experienced in mentorship</p>				          
				          </div><!--/profile-info-text-->

				          <div class="row-fluid latest-ideas">
				          	<h6 class="text-grey">Latest Ideas:</h6>
				          	<ul>
				          		<li><div class="company-image">
					                <a href="" rel="tooltip" data-placement="right" data-original-title="Idea name"><img alt="" class="image" src="/assets/no-logo.png"></a>               
					              	</div>
					            </li>
					            <!-- display max 8 items-->			            

				          	</ul>
				          </div><!--/latest-ideas-->

        				</div><!--/profile info-box-->
						<div class="pull-right center">
							<a class="btn btn-small">CONNECTION</a>
						</div>
					</div><!--/row-fluid-->
				</li>

				<li>
					<div class="row-fluid  padd-10">
						<div class="profile-info-box">
				          <div class="default-profile">
				            <img alt="Picture?type=square" src="http://graph.facebook.com/100004363631863/picture?type=square">
				          </div><!-- /default-profile-->

				          <div class="profile-info-text">
				          <h3 class="p-name"><a href="">Likers Name</a></h3>
				          <em>United Kingdom</em>
				          <p class="profile-basic-info text-grey">Passionate about Ideas and Startups - experienced in mentorship</p>				          
				          </div><!--/profile-info-text-->

				          <div class="row-fluid latest-ideas">
				          	<h6 class="text-grey">Latest Ideas:</h6>
				          	<ul>
				          		<li><div class="company-image">
					                <a href="" rel="tooltip" data-placement="right" data-original-title="Idea name"><img alt="" class="image" src="http://graph.facebook.com/100004363631863/picture?type=square"></a>               
					              	</div>
					            </li>
					            <!-- display max 8 items-->			            

				          	</ul>
				          </div><!--/latest-ideas-->

        				</div><!--/profile info-box-->
						<div class="pull-right center">
							<a class="btn btn-small btn-success">TRUSTED</a>
							<p class="text-grey">Trust you</p>
						</div>
					</div><!--/row-fluid-->
				</li>
			</ul>
		</div><!--/shadow-box-->
	</div><!--/offset span-->
</div><!--/row-fluid-->

     <!--script for tooltip -->
     <script type="text/javascript">
        $(document).ready(function(){
            if($("[rel=tooltip]").length){
                $("[rel=tooltip]").tooltip();
            }
        });
     </script>