Hello,
   You have been invited to work on an idea on GetViable. Please use the link below to get started.

    <%= link_to "Accept!", accept_idea_invitation_path(@idea, @token, :only_path => false)%>

    <p>If you don't want to accept the invitation, please ignore this email.</p>
    
  Regards, the GetViable Team