Hello,
   You are invited to join... Please use link bellow to register.

    <%= link_to "Register", new_user_registration_path(:id => @token, :only_path => false) %>

    <p>If you don't want to accept the invitation, please ignore this email..</p>
    
  Regards, ...