<%# TODO: This file is deprecated and moved to surveyor %>

<div class="span8 offset1 field-bg">

    <!-- ============== Buttons and Search ============= -->
    <div class="row-fluid">
      <div class="box-buttons"><!-- buttons -->
        <ul>
          <li><a href=""><img class="li-down" src="/images/forum/eye-btn.png"></a></li>
          <li><a href=""><img class="li-up" src="/images/forum/edit-btn.png"></a></li>
          <li><a href=""><img class="li-down" src="/images/forum/share-btn.png"></a></li>
        </ul>
      </div><!-- /box-buttons -->

      <div class="box-search"><!-- search -->
        <form class="form-search pull-right">
            <input type="text" class="input-medium search-query" placeholder="search">
            <button type="submit" class="btn btn-info">
              <i class="icon-search icon-white"></i></button>
        </form>
      </div><!-- /box-search -->
    </div><!-- /row-fluid-->
    <!-- ============ and Buttons and Search ============= -->

    <!-- ============ Engage Block ============= -->
    <div class="row-fluid">
      <div class="forum-block">
        <div class="engage-image block-line">
          <img src="/images/forum/engage-image.png" alt="engage-image">
        </div><!-- /engage-block -->

        <div class="shadow-box pull-right">
          <div class="forum-header">
            <div class="idea-name-logo">
              <img class="img-header" src="/images/default-startup-profile.png" alt="default-startup-profile">
              <p>Zizzam Idea</p>
            </div><!-- /idea-name-logo-->

            <div class="header-path">
              <p>Zizzam just became a startup</p>
            </div><!--  / header-path-->
          </div><!-- /forum-header-->

          <div class="forum-body">
            <div id="comment" class="row-fluid"><!-- comment -->
            <div class="forum-user">
              <img src="/images/forum/avatar.jpg">
              <p>Jenifar</p>
            </div><!-- /forum-user-->
            <div class="comments-replay">
              <div class="user-comment-bg">
              <div class="user-comment">
                <p>Zizzam can now access:<br>
                  Expert suppert from team and other startus peers in the forum <br>
                  Our mentro Marketplace
                </p>
                <p class="info">October 1 at 7.33pm</p>
              </div><!-- /user-comment -->
              </div><!-- /user-comment-bg-->

              <div class="comment-info">
                <ul>
                  <li>
                    <img src="/images/forum/forum-comment.png">
                    <p><span>10</span> comments |</p>
                  </li> 
                  <li>
                    <img src="/images/forum/forum-minus.jpg">
                    <a href=""> See all comments</a>
                  </li>
                </ul>
              </div><!-- /comments-info -->
            </div><!-- /comments-replay -->
            </div><!-- /row-fluid (comment) -->

            <div id="replay" class="row-fluid">
            <div id="replay" class="offset1 span10"><!-- replay -->
              <div class="forum-user">
                <img src="/images/forum/avatar.jpg">
                <p>Jenifar</p>
              </div><!-- /forum-user-->
              <div class="comments-replay">
                <div class="user-comment-bg">
                <div class="user-comment">
                  <p>Zizzam can now access:<br>
                  Expert suppert from team and other startus peers in the forum <br>
                  Our mentro Marketplace
                  </p>
                  <p class="info">October 1 at 7.33pm</p>
                </div><!-- /comment -->
                </div><!-- /user-comment-bg-->
              </div><!-- /comments-replay -->
            </div><!-- /span (replay) -->
            </div><!-- /id replay-->

            <div id="replay" class="row-fluid">
            <div class="offset1 span10"><!-- replay -->
              <div class="forum-user">
                <img src="/images/forum/avatar.jpg">
                <p>Jenifar</p>
              </div><!-- /forum-user-->
              <div class="comments-replay">
                <div class="user-comment-bg">
                <div class="user-comment">
                  <p>Zizzam can now access:<br>
                  Expert suppert from team and other startus peers in the forum <br>
                  Our mentro Marketplace
                  </p>
                  <p class="info">October 1 at 7.33pm</p>
                </div><!-- /comment -->
                </div><!-- /user-comment-bg-->
              </div><!-- /comments-replay -->
            </div><!-- /span (replay) -->
            </div><!-- /id replay-->

            <div id="post-answer" class="row-fluid">
            <div class="offset4 span8"><!-- replay -->
              
              <form>
                  <textarea placeholder="Type message"></textarea>
                  <input type="submit" class="btn btn-success pull-right" value="Submit">
                  </input>
              </form>

            </div><!-- /span (replay) -->
            </div><!-- /id post-answer-->


          </div><!-- /forum-body-->
        </div><!-- /shadow-box-->

      </div><!-- /engage-block-->
    </div><!-- /row-fluid-->
    <!-- ========== and Engage Block ============= -->

    <!-- ============ Design Block ============= -->
    <div class="row-fluid">
      <div class="forum-block">
        <div class="engage-image block-line">
          <img src="/images/forum/design-image.png" alt="engage-image">
        </div><!-- /engage-block -->

        <div class="shadow-box pull-right">
          <div class="forum-header">
            <div class="idea-name-logo">
              <img class="img-header" src="/images/default-startup-profile.png" alt="default-startup-profile">
              <p>Zizzam Idea</p>
            </div><!-- /idea-name-logo-->

            <div class="header-path">
              <p>Zizzam just became a startup</p>
            </div><!--  / header-path-->
          </div><!-- /forum-header-->

          <div class="forum-body">
            <div id="comment" class="row-fluid"><!-- comment -->
            <div class="forum-user">
              <img src="/images/forum/avatar.jpg">
              <p>Jenifar</p>
            </div><!-- /forum-user-->
            <div class="comments-replay">
              <div class="user-comment-bg">
              <div class="user-comment">
                <p>Zizzam can now access:<br>
                  Expert suppert from team and other startus peers in the forum <br>
                  Our mentro Marketplace
                </p>
                <p class="info">October 1 at 7.33pm</p>
              </div><!-- /comment -->
              </div><!-- /user-comment-bg-->

              <div class="comment-info">
                <ul>
                  <li>
                    <img src="/images/forum/forum-comment.png">
                    <p><span>10</span> comments |</p>
                  </li> 
                  <li>
                    <img src="/images/forum/forum-minus.jpg">
                    <a href=""> See all comments</a>
                  </li>
                </ul>
              </div><!-- /comments-info -->
            </div><!-- /comments-replay -->
            </div><!-- /row-fluid (comment) -->

            <div id="replay" class="row-fluid">
            <div id="replay" class="offset1 span10"><!-- replay -->
              <div class="forum-user">
                <img src="/images/forum/avatar.jpg">
                <p>Jenifar</p>
              </div><!-- /forum-user-->
              <div class="comments-replay">
                <div class="user-comment-bg">
                <div class="user-comment">
                  <p>Zizzam can now access:<br>
                  Expert suppert from team and other startus peers in the forum <br>
                  Our mentro Marketplace
                  </p>
                  <p class="info">October 1 at 7.33pm</p>
                </div><!-- /comment -->
                </div><!-- /user-comment-bg-->
              </div><!-- /comments-replay -->
            </div><!-- /span (replay) -->
            </div><!-- /id replay-->

            <div id="post-answer" class="row-fluid">
            <div class="offset4 span8"><!-- replay -->
              
              <form>
                  <textarea placeholder="Type message"></textarea>
                  <input type="submit" class="btn btn-success pull-right" value="Submit">
                  </input>
              </form>

            </div><!-- /span (replay) -->
            </div><!-- /id post-answer-->
            
          </div><!-- /forum-body-->
        </div><!-- /shadow-box-->

      </div><!-- /engage-block-->
    </div><!-- /row-fluid-->
    <!-- ============ and Design Block ============= -->

    <!-- ============ Build Block ============= -->
    <div class="row-fluid">
      <div class="forum-block">
        <div class="engage-image block-line">
          <img src="/images/forum/build-image.png" alt="build-image">
        </div><!-- /engage-block -->

        <div class="shadow-box pull-right">
          <div class="forum-header">
            <div class="idea-name-logo">
              <img class="img-header" src="/images/default-startup-profile.png" alt="default-startup-profile">
              <p>Zizzam Idea</p>
            </div><!-- /idea-name-logo-->

            <div class="header-path">
              <p>Zizzam just became a startup</p>
            </div><!--  / header-path-->
          </div><!-- /forum-header-->

          <div class="forum-body">
            <div id="comment" class="row-fluid"><!-- comment -->
            <div class="forum-user">
              <img src="/images/forum/avatar.jpg">
              <p>Jenifar</p>
            </div><!-- /forum-user-->
            <div id="post-comment" class="row-fluid">
            <div class=" span11"><!-- replay -->
              <form>
                  <textarea placeholder="Type message"></textarea>
                  <input type="submit" class="btn btn-success pull-right" value="Submit">
                  </input>
              </form>
            </div><!-- /span (replay) -->
            </div><!-- /id post-answer-->
            </div><!-- /row-fluid (comment) -->     
            
            
          </div><!-- /forum-body-->
        </div><!-- /shadow-box-->

      </div><!-- /engage-block-->
    </div><!-- /row-fluid-->
    <!-- ============ and Build Block ============= -->

    <!-- ============ Getviable Block ============= -->
    <div class="row-fluid">
      <div class="forum-block">
        <div class="engage-image block-line">
          <img src="/images/forum/getviable-image.png" alt="engage-image">
        </div><!-- /engage-block -->

        <div class="shadow-box pull-right">
          <div class="forum-header">
            <div class="idea-name-logo">
              <img class="img-header" src="/images/default-startup-profile.png" alt="default-startup-profile">
              <p>Zizzam Idea</p>
            </div><!-- /idea-name-logo-->

            <div class="header-path">
              <p>Zizzam just became a startup</p>
            </div><!--  / header-path-->
          </div><!-- /forum-header-->

          <div class="forum-body">
            <div id="comment" class="row-fluid"><!-- comment -->
            <div class="forum-user">
              <img src="/images/forum/avatar.jpg">
              <p>Jenifar</p>
            </div><!-- /forum-user-->
            <div class="comments-replay">
              <div class="user-comment-bg">
              <div class="user-comment">
                <p>Zizzam can now access:<br>
                  Expert suppert from team and other startus peers in the forum <br>
                  Our mentro Marketplace
                </p>
                <p class="info">October 1 at 7.33pm</p>
              </div><!-- /comment -->
              </div><!-- /user-comment-bg-->

              <div class="comment-info">
                <ul>
                  <li>
                    <img src="/images/forum/forum-comment.png">
                    <p><span>10</span> comments |</p>
                  </li> 
                  <li>
                    <img src="/images/forum/forum-minus.jpg">
                    <a href=""> See all comments</a>
                  </li>
                </ul>
              </div><!-- /comments-info -->
            </div><!-- /comments-replay -->
            </div><!-- /row-fluid (comment) -->
                                
          </div><!-- /forum-body-->
        </div><!-- /shadow-box-->

      </div><!-- /engage-block-->
    </div><!-- /row-fluid-->
    <!-- ============ and Getviable Block ============= -->

  </div><!-- /span-->