		<div class="accordion" id="accordion2">	 
				
				<div class="accordion-group">
				  <div class="accordion-heading">
					<a class="accordion-toggle collapsed green-bg" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
					  ACTIVITY
					</a>
				  </div>
				  <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
				<ul>
					<li><a href="">All Group Connections (<span class="blue-col">0</span>)</a></li>
					<li><a href="">Trusted by in Group (<span class="blue-col">0</span>)</a></li>
					<li class="divider"></li>
					<li><%= link_to "My Ideas", groups_my_ideas_path %></li>
				</ul>
					</div>
				  </div>
				</div>
				<!--div class="accordion-group">
				  <div class="accordion-heading">
					<a class="accordion-toggle yellow-bg" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					  EXPLORE IDEAS
					</a>
				  </div>
				  <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
					  <ul>
					<li><%= link_to "My Ideas", groups_all_ideas_path %></li>
					<li><a href="">Liked ideas (<span class="blue-col">3</span>)</a></li>
					<li class="divider"></li>
					<li class="active"><%= link_to "Group Members", members_path %></li>
				</ul>
					</div>
				  </div>
				</div-->
			  </div><!--/collapse-group-->