		<div class="accordion" id="accordion2">	 
				
				<div class="accordion-group">
				  <div class="accordion-heading">
					<a class="accordion-toggle collapsed green-bg" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
					  ACTIVITY
					</a>
				  </div>
				  <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
				<ul>
					<li><a href="">All Connection (<span class="blue-col">0</span>)</a></li>
					<li><a href="">Trusted by (<span class="blue-col">0</span>)</a></li>
					<li class="divider"></li>
					<li><%= link_to "My Ideas", groups_all_my_ideas_path %></li>
				</ul>
					</div>
				  </div>
				</div>
				<!--div class="accordion-group">
				  <div class="accordion-heading">
					<a class="accordion-toggle yellow-bg" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					  EXPLORE IDEAS
					</a>
				  </div>
				  <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
					  <ul>
					<li><a href="" class="bold">Startups</a></li>
					<li class="active"><a href="">Featured</a></li>
					<li><a href="">Most Active</a></li>
					<li><a href="">Newest</a></li>
					<li class="divider"></li>
					<li><a href="" class="bold">Ideas</a></li>
					<li><a href="">All Ideas</a></li>
					<li><a href="">Liked ideas (<span class="blue-col">3</span>)</a></li>
				</ul>
					</div>
				  </div>
				</div-->
			  </div><!--/collapse-group-->