    <div class="row-fluid idea-here-row">
      <div class="span6 pull-right">
        <div class="pull-right">
          <a href="" class="btn btn-success">
            <i class="icon-arrow-up icon-white"></i>
            Your ideas are here</a>
        </div><!-- /pull-right-->
      </div><!--/span-->
    </div><!-- /row-fluid-->