<% title "GetViable - About Us" %>

<div class="mid-background">
<div class="container">
	<h2 class="normal mar-25-t-b">About Us</h2>
	<div class="shadow-box box-margin-bottom ">
		<div class="row-fluid central-headline"><!-- Headline-->
	      <h2 class="normal">Meet the Founders</h2>
	    </div><!--/row-fluid-->
	    <div class="row-fluid padd-25">
	    	<div class="span6">
	    		<div class="row-fluid founder-row">
	    		<img src="/assets/LB-profile.jpg">
	    		<h3 class="normal">Leslie Barry</h3>
	    		<p></p>
	    		<ul class="social-link-list">
	    			<li><a href="https://www.linkedin.com/in/lesliebarry" class="social-linkedin"></a></li>
	    			<li><a href="https://www.facebook.com/LeslieBarry" class="social-facebook"></a></li>
	    			<li><a href="https://plus.google.com/106734948685223931292" class="social-google"></a></li>
	    			<li><a href="https://twitter.com/LeslieCBarry" class="social-twitter"></a></li>
	    		</ul>
	    		</div><!--/founder-row-->
	    		<p class="text-about">Leslie founded and successfully exited exertrack (Health and Fitness tracking service). Exertrack was acquired in 2008 by one of the first Techstars companies, Gyminee, now DailyBurn. He co founded cheapstart (cloud software recommendations for small business) and Iphso (Digital Transformation Consulting).</p>
	    		<p class="text-about">Leslie applies his deep expertise in offshoring, outsourcing, crowd sourcing  to early stage startups and ventures.</p>
	    		<p class="text-about">His experience in annuitising services and scaling businesses ensures profitable outcomes. He is very active online and drives effective outcomes, Lean approaches and tech startups.</p>
	    	</div><!--/span-->
	    	<div class="span6">
	    		<div class="row-fluid founder-row">
	    		<img src="/assets/DE-profile.jpg">
	    		<h3 class="normal">Dougal Edwards</h3>
	    		<p></p>
	    		<ul class="social-link-list">
	    			<li><a href="https://www.linkedin.com/in/dougaledwards" class="social-linkedin"></a></li>
	    			<li><a href="https://www.facebook.com/dougal.edwards" class="social-facebook"></a></li>
	    			<li><a href="https://plus.google.com/106062501688607122400/" class="social-google"></a></li>
	    			<li><a href="https://twitter.com/dougaled" class="social-twitter"></a></li>
	    		</ul>
	    		</div><!--/founder-row-->
	    		<p class="text-about">Specialising in complex online products, Dougal has been pushing product innovation across Media, Finance and Startups since 1999… leaving a little trail of disruption (organizational and digital) in his wake.</p>
	    		<p class="text-about">Over the years, he's built a deep product pedigree across  B2C & B2B and founded Enthuze, a digital management consultancy in 2000. He went on to turn around small businesses, and advise a number of early stage ventures along the way. This culminated in leading the digital product consulting practice of major global player.</p>
	    		<p class="text-about">He can take an idea from nothing, through to a living viable product in less time (and money) than it takes others to get out of bed in the morning. He knows the ‘difference that makes a difference’ in digital.</p>
	    	</div><!--/span-->
	    </div><!--/row-fluid-->
	</div><!--/shadow-box-->
</div><!--/container-->
</div><!--/mid-background-->

<!-- _________________________ As Used Section ____________________________ -->

<hr>
<div class="grey-background">
<div class="container">
  <div class="row-fluid central-headline"><!-- Headline-->
    <h3>What Problems Does GetViable Solve?</h3>
  </div><!-- /row-fluid-->

  <div class="row-fluid as-used">
      <!-- ============ Colummn 1 =================== -->
      <div class="span3 as-used-img">
        <img src="/assets/home/lightbulb.png">
        <h4>You have ideas, but don't know what to do next</h4>
        <p>We've been making the web a better place since it was born. We now want to show you how to succeed!</p>
      </div><!-- /span-->
       <!-- ============ Colummn 2 =================== -->
      <div class="span3 as-used-img">
        <img src="/assets/home/address_book.png">
        <h4>You're looking for experts to guide you</h4>
        <p>Our team has been working with startups for years. These experts are now available to help you along the way!</p>
      </div><!-- /span-->
       <!-- ============ Colummn 3 =================== -->
      <div class="span3 as-used-img">
        <img src="/assets/home/group.png">
        <h4>You need a team around your idea</h4>
        <p>We provide a single coordinated view of your idea's development so that team members and mentors work together.</p>
      </div><!-- /span-->
      <!-- ============ Colummn 4 =================== -->
      <div class="span3 as-used-img">
        <img src="/assets/home/stats.png">
        <h4>You need to know it's a great idea</h4>
        <p>Is your idea the best it can be? Use our social tools, our experts, and engage our mentors community to turn it from good to great.</p>
      </div><!-- /span-->
  </div><!-- /row-fluid-->
</div><!-- /container-->
</div><!-- /grey-background -->
<!-- _________________________ What we're about ____________________________ -->
<hr>
<div class="grey-background">
<div class="container">
    <div class="row-fluid central-headline"><!-- Headline-->
      <h3>Why Have We Built GetViable?</h3>
    </div><!-- /row-fluid-->
  
  <div class="row-fluid as-used">
    <!-- ============ Colummn 1 =================== --> 
      <div class="span4 as-used-img">        
        <img src="/assets/home/home-grey.png">
          <h4>We know the best ideas come from real life problems</h4>
          <p>We're tired of a select few thinking they know what we want and spending crazy sums of money to try to convince us. The web is an amazing tool and we want to make is possible for anyone with an idea to use it to solve real problems for real people. This means you.</p>
      </div><!--/span-->

    <!-- ============ Colummn 2 =================== -->
      <div class="span4 as-used-img">
        <img src="/assets/home/unlock.png">
          <h4>We're tired of the elitist "startup club" approach</h4>
          <p>It's time to open the doors. Time to give access to this community to anyone with a great idea. We're breaking down all the barriers - financial, technical skills, startup knowledge - to ensure that your great ideas can make it.</p>
      </div><!--/span-->

    <!-- ============ Colummn 3 =================== -->
      <div class="span4 as-used-img">            
        <img src="/assets/home/log_book.png">
          <h4>Everyone's got an idea, but only a few know what to do</h4>
          <p>You could continue reading the Internet, scouring each conflicting article for the answer to your dilemma. Or you can act. We're passionate about helping create more startups faster. We know what needs to be done, how it should be done, and when to do it. We will show you how.</p>
      </div><!--/span-->

   </div><!--row--> 
</div><!--/container-->
</div><!-- /grey-background -->
<!-- _________________________ Featured in the media ____________________________ -->
<hr>
<div class="grey-background">
<div class="container">
    <div class="row-fluid central-headline"><!-- Headline-->
      <h3>What is Makes Us Special?</h3>
    </div><!-- /row-fluid-->
  
  <div class="row-fluid as-used">
    <!-- ============ Colummn 1 =================== --> 
      <div class="span6 as-used-img">        
        <img src="/assets/home/cup.png">
          <h4>We're experts in bringing ideas <br>of all shapes to market</h4>
          <p>We have assembled the best of the best to make it easy to turn your idea into a startup. No matter what shape or size your idea is, we have the experience and talent on board to make sure nothing is in your way.</p>
      </div><!--/span-->

    <!-- ============ Colummn 2 =================== -->
      <div class="span6 as-used-img">
        <img src="/assets/home/dashboard.png">
          <h4>We're immersed in 'Startup World' <br>so you don't have to be</h4>
          <p>We know from experience that most ideas come to us while we're in day jobs - paying the rent, putting food on the table. What if you could turn that idea into a startup without having to leave your job? Now you can!</p>
      </div><!--/span-->

   </div><!--row--> 
</div><!--/container-->
</div><!-- /grey-background -->