<div class="mid-background">
  <div class="container">

      <div class="row-fluid box-row-title margin-title">
        <h1>Contact Us</h1>            
      </div><!-- /row-fluid-->

    <!-- _____________________________ Contact field -row __________________________ -->
  <div class="row-fluid logged-bg"> 
    <div class="row-fluid box-row-title">
      <h3>Send us a message - we'd love to hear from you</h3>      
    </div><!-- /row-fluid--> 

  <div class="row-fluid user-padd"> 
  <!-- ============ Form =================== -->
  <h2><%= link_to "Help", "http://support.getviable.com"%></h2>
    <!--form class="form-horizontal">
      <div class="form-inline">                     
              <div class="form-box">
                <label class="pull-left">Your Name</label>
                <input type="text" class="pull-left" placeholder="Name">                 
              </div>

              <div class="form-box">      
                <label class="pull-left">Your Email</label>
                <input class="pull-left" type="text" placeholder="Email">                 
              </div>

              <div class="form-box text-field">      
                <label class="pull-left">Message</label>
                <textarea placeholder="Message"></textarea>  
              </div>

              <div class="offset2">
                <input type="submit" value="SEND" class="btn btn-info">
              </div>

      </div>
    </form-->  
  </div><!-- /row-fluid -->
  </div><!-- /row-fluid logged-bg -->

  <div class="row-fluid logged-bg contact-footer">
    <p>Contact us for more information on who is behind this project and what else we're doing to unleash the Enterpreneur in Everyone</p>
  </div><!-- /row-fluid logged-bg -->

  </div><!--/container-->
</div><!--/mid-background-->
