<!-- ______________________________ mid background ______________________________ -->

<div id="logged" class="mid-background">

  <div  class="container">
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">x</a>
        Logged in successfully.
    </div>

    <div class="row-fluid idea-here-row">
      <div class="span6 pull-right">
        <div class="pull-right">
          <a href="" class="btn btn-success">
            <i class="icon-arrow-up icon-white"></i>
            Your ideas are here</a>
        </div><!-- /pull-right-->
      </div><!--/span-->
    </div><!-- /row-fluid-->

    <!-- _____________________________ Logged in section __________________________ -->
  <div class="row-fluid logged-bg"> 
    <div class="row-fluid box-row-title">
      <h1>Features</h1>
      <p>Picked by GetViable Team</p>
      <a href="">All Featured &raquo;</a>
    </div><!-- /row-fluid--> 

  <!-- _____________________________ Featured -row __________________________ -->
  <div class="row-fluid"> 
  <!-- ============ Colummn 1 =================== -->
  <div class="span3">

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/tesco-logo.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica</a></li>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/dsm.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/chocolate.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

   </div><!-- /span3-->
  <!-- ============ Colummn 2 =================== -->
  <div class="span3">

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/chocolate.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/man-camera.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/dsm.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

  </div><!-- /span3-->
  <!-- ============ Colummn 3 =================== -->
  <div class="span3">

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/dsm.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/chocolate.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

  </div><!-- /span3-->
  <!-- ============ Colummn 4 =================== -->
  <div class="span3">

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/man-camera.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/man-camera.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

    <div class="shadow-box">
          <div class="image-box">
            <img class="ribbon"  src="images/startup.png">
            <div class="image-box-img">               
              <img class="image" src="images/man-camera.png" alt="idea-logo">             
            </div><!--/image-box-img-->            
          </div><!--/image-box-->

          <div class="activity-box">
            <h5>Idea Name</h5>
            <p>This is description of the Idea</p>
          </div><!-- /activity-box-->

          <div class="team-box-img">
            <h5>Idea Team</h5>            
            <ul>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
              <li><a href=""><img src="images/forum/avatar.jpg">Jessica Lala</a></li>
            <ul>          
          </div><!-- /team-box-img-->
    </div><!-- /shadow-box -->

  </div><!-- /span3-->
  </div><!-- /row-fluid -->

  </div><!-- /row-fluid -->
    <!-- __________________________ and Logged in section __________________________ -->
    
  </div><!--/container-->
</div><!-- /mid-background-->
