<% title "GetViable - Pricing" %>

<div class="mid-background">
  <div class="container">
    <div class="row-fluid well-mar shadow-box">
      <div class="padd-25">
      <div class="row-fluid mid-background padd-10">
        <h3 class="normal">Access the full power of GetViable!</h3>
        <p>Take your idea to the next level with the GetViable Lean Startup Process!</p>

        <div class="row-fluid pricing-stage-row">
          <div class="span2">

            <h4 class="green-col">FREE</h4>
<div class="row-fluid well free-well">
            <div class="row-fluid stage-price">
              <p class="bold"><span class="btn-clarify"><i class="iconv-newclarify"></i></span>Clarify idea</p>
            </div><!--/row-fluid-->
            <p>Get your idea clear in your head and work out whether your idea has potential!</p>
          </div><!--/span-->
          </div><!--/span-->

          <div class="span10">

            <h4 class="grey-col">STARTUPS ONLY</h4>
            <div class="row-fluid well white-well">

            <div class="span3">
            <div class="row-fluid stage-price">
              <p class="bold"><span class="btn-target"><i class="iconv-newtarget"></i></span>Identify Customers</p>
            </div><!--/row-fluid-->
            <p>Understand what makes you different and why your customers will pay for your product and services.</p>
            </div><!--/span-->

            <div class="span3">
            <div class="row-fluid stage-price">
              <p class="bold"><span class="btn-discovery"><i class="iconv-newdiscovery"></i></span>Idea Validation</p>
            </div><!--/row-fluid-->
            <p>Work out what you need to do to make sure you have a real solution to real problems for real customers.</p>
            </div><!--/span-->

            <div class="span3">
            <div class="row-fluid stage-price">
              <p class="bold"><span class="btn-design"><i class="iconv-newdesign"></i></span>Design</p>
            </div><!--/row-fluid-->
            <p>Get access to trusted, experienced, and affordable talent to design your product and get it ready to be built.</p>
            </div><!--/span-->

            

            <div class="span3">
            <div class="row-fluid">
                <div class="row-fluid stage-price">
              <p class="bold"><span class="btn-build">
                <i class="iconv-newbuild"></i></span>Build MVP</p>
            </div><!--/row-fluid-->
            <p>Access exclusive money-saving deals and learn the tips of how best to get your product built affordably.</p>
            </div><!--/row-fluid-->
            </div><!--/span-->

            </div><!--/row-fluid-->
          </div><!--/span-->

        </div><!--/row-fluid-->

      </div><!--/row-fluid-->
      </div><!--/row-fluid-->

        <div class="row-fluid padd-25 price-stage-row"> 
          <div class=" level empty">
          
        <h3 class="normal level-box">Choose From One Of These Great Startup Packages!<span class="badge">Limited<br> Time<br> Offers!</span></h3>
        </div>



        <div class="row-fluid price-stage-row"> 
  <!-- ============ Colummn 1 =================== -->
  <div class="span4">
    <div class="shadow-box level silver-box">
      <div class="level-box free">
        <h2>Silver</h2>
        <ul>
          <li><i class="icon-ok"></i>Launch your idea as a startup</li>
          <li><i class="icon-ok"></i>Full Step-by-Step Process </li>
          <li><i class="icon-ok"></i>Full startup deals access</li>
          <li><i class="icon-ok"></i>Free Expert Review at and of design stage</li>
          <li><i class="icon-ok"></i>Startup visibility on homepage</li>
        </ul>
        <div class="level-price">
        <h3 class="blue-col">$99</h3>
        <p>Normal price $249</p>
        </div><!--/level-price-->
        <%= link_to raw_glyph(:share_alt, :white) + "BUY NOW", new_user_registration_path, :class=>"btn btn-success" %>
      </div><!-- /level-box -->
    </div><!-- /shadow-box -->
   </div><!-- /span4-->
  <!-- ============ Colummn 2 =================== -->
  <div class="span4">
    <div class="shadow-box level gold-box">
    <div class="level-box">
        <h2>Gold</h2>
        <ul>
          <li><i class="icon-ok"></i>Launch your idea as a startup</li>
          <li><i class="icon-ok"></i>Full Step-by-Step Process </li>
          <li><i class="icon-ok"></i>Full startup deals access</li>
          <li><i class="icon-ok"></i>Free Expert Review at and of design stage</li>
          <li><i class="icon-ok"></i>Startup visibility on homepage</li>
          <li class="center bold"><h3>PLUS</h3></li>
          <li class="bold center"><h5><i class="icon-ok"></i>Access to expert guidance (up to twice per month)
</h5></li>
        </ul>
        <div class="level-price">
        <h3 class="blue-col">$499</h3>
        <p>normal price $999</p>
        </div><!--/level-price-->
        <%= link_to raw_glyph(:share_alt, :white) + "BUY NOW", new_user_registration_path, :class=>"btn btn-success" %>
    </div><!-- /level-box -->

    <span class="label ">MOST POPULAR</span>
    </div><!-- /shadow-box -->
  </div><!-- /span4-->
  <!-- ============ Colummn 3 =================== -->
  <div class="span4">
    <div class="shadow-box level platinum-box">
      <div class="level-box  free">
          <!--span class="badge">Limited<br> Time<br> Offers!</span-->
        <h2>Communities</h2>
        <ul>
          <li><i class="icon-ok"></i>Coworking  spaces</li>
          <li><i class="icon-ok"></i>Hackathons </li>
          <li><i class="icon-ok"></i>Incubators</li>
          <li><i class="icon-ok"></i>Accelerators </li>
          <li><i class="icon-ok"></i>Universities</li>
          <li><i class="icon-ok"></i>Enterprise</li>
        </ul>
        <div class="level-price">
        <h5>Get your  community collaborating  on  
starting up  their ideas</h5> 
      </div>
        <a href="mailto:team@getviable.com" class="btn btn-warning">ENQUIRE  NOW</a>
    </div><!-- /level-box -->
    </div><!-- /shadow-box -->
  </div><!-- /span4-->
  
  </div><!--/row-fluid-->
    </div><!--/padd-->
  </div><!--/container-->
</div><!-- /mid-background-->


<!-- _________________________ Testamonials ____________________________ -->
<hr>
<div class="grey-background">
<div class="container">
   
  
  <div class="row-fluid testamonials new-list ">
     <div class="span4"><!-- Headline-->
      
    
      <h3  class="central-headline normal dark-grey">We're helping people just like you!</h3>
      <p class="just text-grey">“Thanks!  You helped  me  ﬁgure out my  
        Minimum Viable  Product... ”<span class=" bold">- Sue, USA</span></p>
        
      <p class="just text-grey">“I now understand  who my  customer  
        REALLY  is.”<span class=" bold">- Ian, AU</span></p>
      <p class="just text-grey">“I  had no  idea  where to  start.  You 
        helped  me  understand  how to  build my  app.”<span class=" bold">- Helen, UK</span></p>
      </div><!-- /row-fluid-->

      <div class="span8">
      <div class="row-fluid">
        <h3  class="central-headline normal">We're negotiating some great deals to <br>help you get started!</h3>
      </div>

             
      <div class="span6 center">
                <p class="text-grey">Get  <span class="green bold">$100</span>  credit  towards oDesk</p>
                <img src="/assets/ODesk_logo.png" class="first-img">
                <p>Access talent  from  around  the world</p>
         
      </div>

      <div class="span5 center">     
                <p class="text-grey">Get  <span class="green bold">$500</span>  Amazon  credit  as  one of  our most  viable  startups</p>
                <img src="/assets/AWS_LOGO.png">
                <p>Launch your  startup on  Amazon  Web 
      Services</p>
      </div>
      </div><!--/span8-->

  </div><!--row--> 
</div><!--/container-->
</div><!-- /grey-background -->

<hr>
<!--div class="grey-background">
<div class="container">
    <div class="row-fluid central-headline">
      <h3>Testimonials...</h3>
    </div>
  
  <div class="row-fluid testamonials ">
    <ul>
      <li>
        <div class="pic">
        <%= image_tag "UniMelb-Logo.png"%>
        </div>
        <p class="just">We were absolutely delighted to have Leslie and Dougal from GetViable contribute to the Melbourne Accelerator Program at the University of Melbourne in 2012.  They bring a wealth of experience in advising start-ups and we look forward to their ongoing involvement in the years to come.</p>
        <p class="pull-right bold">Rohan Workman</p>
      </li>
      <li>
        <div class="pic">
        <%= image_tag "RMIT-Logo.jpg"%>
        </div>
        <p class="just">We’re happy to use GetViable as part of our Innovation Program.</p>
        <p class="pull-right bold">Ian R. Jones</p>
      </li>
    </ul>

  </div>
</div>
</div--><!-- /grey-background -->