
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Add Team Member</h3>
  </div>

<%= form_for [@invitable, @invitation] do |f| %>

  <div class="modal-body row-fluid">
<%#= f.hidden_field :invitation_idea_id, :value => @idea.try(:id) %>

  <div class="form-box form-sett">      
                <label class="span4">Email of member:</label>
                <div class="span7">
                   <%= f.text_field :invitee_email %>
                </div>                
  </div><!-- /form-box-->

  <div class="form-box form-sett">      
                <label class="span4">Primary role on idea:</label>
                <div class="span7">
                   <%= f.select("invitee_role_id", IdeasUsers::TYPES.collect {|p| p.reverse }, {:include_blank => 'Select role...'}) %>
                </div>                
  </div><!-- /form-box-->
      </div><!--/modal-body-->
  <div class="modal-footer">
    <%= f.submit t("devise.invitations.new.submit_button"),  :class => "btn btn-success" %>
  </div>




<% end %>