<% if notice %>
  <div class="alert alert-success">
  	<div class="container"><%= notice %></div>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-error">
  	<div class="container"><p><%= alert %></p></div>
  </div>
<% end %>