          <!-- ============== Message ============= -->
          <div id="message-row">
          <div class="row-fluid">
            <div class="message-row">
              <textarea placeholder="Add message"></textarea>
              <div class="span6 pull-right">
                <div class="pull-right">

                <label class="checkbox inline">
                      <input type="checkbox"> Share detail? 
                </label>
                <label class="checkbox inline">
                      <input type="checkbox">
                      <img alt="Facebook" src="images/facebook.png">
                </label>
                <label class="checkbox inline">
                      <input type="checkbox">
                      <img alt="Twitter" src="images/twitter.png">
                </label>
                <label class="checkbox inline">
                      <input type="checkbox">
                      <img alt="Google" src="images/google.png">
                </label>

                </div><!-- /pull-right -->
              </div><!-- /pull-right -->
            </div><!-- /(class) message-row -->
          </div><!-- /row-fluid (message) -->
          </div><!-- /(id)Message-row -->
          <!-- ============== and Message ============= -->