          <!-- ============== Table ============= -->
          <div id="table-row">
          <div class="row-fluid "><!-- row-fluid (table)-->

            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Website</th>
                <th>What Makes Them Competition</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Widgets.Inc</td>
                <td><a href="">www.widgets.com</a></td>
                <td>They are making similar widgets</td>
                <td class="img-center">
                <a href=""><img src="images/trash.png" alt="trash"></a></td>
              </tr>
              <tr>
                <td>Widgets.Inc</td>
                <td><a href="">www.widgets.com</a></td>
                <td>They are making similar widgets</td>
                <td class="img-center">
              <a href=""><img src="images/trash.png" alt="trash"></a></td>
              </tr>
              <tr>
                <td>Widgets.Inc</td>
                <td><a href="">www.widgets.com</a></td>
                <td>They are making similar widgets</td>
                <td class="img-center">
                  <a href=""><img src="images/trash.png" alt="trash"></a></td>
              </tr>
                      </tbody>
            </table>

          </div><!-- /row-fluid (table)-->
          </div><!-- /(id)table-row-->
          <!-- ============== and Table ============= -->