<h1>Dashboard</h1>
<!--ul class="dashboard-list">
	<li class="well">
		<h1>New Users</h1>
		<hr>
		<em class="exclamation">Today:<span class="pull-right"><img src="/assets/exclamation-mark.png"></span></em>
		<p>00</p>
		<em>This month:</em>
		<p>380</p>
	 </li>
	<li class="well"></li>
	<li class="well"></li>
	<li class="well">
		<h1>Google Analytics</h1>
		<hr>
	</li>
</ul-->